<input type="checkbox" name="isDone" {{#if record.isDone }} checked {{/if}} disabled>
<span>{{record.name}}</span>
<a href='/records/{{record._id}}/edit'>edit</a>
<a href='/'>back</a>
<form
  action='/records/{{record._id}}?_method=DELETE'
  method='POST'
  style='display: inline;'
>
  <button type='submit'>delete</button>
</form>

